div {
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

select {
    text-align: center;
    padding: 10;
}